<!DOCTYPE HTML>
<html>
<head>
      <!-- Modal meta -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- title -->
      <title>PayBits</title>
      <!-- Modal Structure -->

      <link   rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
      <!-- Modal stylesheet -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    	<link rel="stylesheet" href="{{url_for('static',filename='css/comments.css')}}">
    	<link rel="stylesheet" href="{{url_for('static',filename='css/pop.css')}}">
    	<link rel="stylesheet" href="{{url_for('static',filename='search/search.css')}}">
      <link rel="stylesheet" href="{{url_for('static',filename='css/imageshow.css')}}">
      <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
      <!-- icon-->
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/images.png') }}">

      
      <!-- Modal Materialize -->

      <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Modal media jquery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Modal media queries -->
      <link rel='stylesheet' media='screen and (min-width: 164px) and (max-width: 900px)' href="{{url_for('static',filename='css/convert.css')}}" />
      <link rel="stylesheet" media='screen and (min-width: 163px) and (max-width: 482px)' href="{{url_for('static',filename='css/small.css')}}">
      <link rel='stylesheet' media='screen and (min-width: 701px) and (max-width: 900px)' href='css/medium.css' />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Modal javascript links -->

      <script src="{{url_for('static', filename='javascript/system.js')}}"></script>
      <script src="{{url_for('static', filename='javascript/desk1.js')}}"></script>
      <script src="{{url_for('static', filename='javascript/requests.js')}}"></script>
      <script src="{{url_for('static', filename='javascript/likes.js')}}"></script>
      <script src="{{url_for('static', filename='javascript/carasal.js')}}"></script>
      <script src="{{url_for('static', filename='javascript/pop.js')}}"></script>
</head>
<body background-color:white>
        <div id="modal1" class="modal" style="background-color:white; height:30%">
       
            <div id="save" style="padding-top: 1px;background-image: url({{url_for('static', filename='images/.jpg')}}); background-color:;text-align:center; width:100%; height:7%">
                  <div id="stt" style="padding-top:0px;width:60%; height:100%; background-color:; text-align:center;margin:auto">
                            <div class="container" style="background-color:">
                                <div class="row">
                                    <div class="Absolute-Center is-Responsive">
                                    
                                        <div class="col-sm-12 col-md-10 col-md-offset-1">
                                            <form  id="loginForm" action="{{url_for('coupleImageUpload')}}" method="post" enctype ="multipart/form-data">
                                                <div class="form-group input-group">
                                                    <span style="color:white" class="input-group-addon"><i class="glyphicon glyphicon-lock">select image</i></span>
                                                    <input style="width:100%; border-radius: 0px;padding-left:12px;background-color:white" class="form-control" type="text" cols="80" name="text"  />
                                                    <input style="width:100%; border-radius: 0px;padding-left:12px;background-color:white" class="form-control" type="file" cols="80" name="file"  />
                                                
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-def btn-block">Submit</button>
                                                </div>
                                            
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>		
              </div>  
          
        </div>

        <div id="modal2" class="modal" style="background-color:white; height:7%;top: 9%;position: absolute;overflow-y:;">

                            <div class="container" style="background-color:">
                                <div class="row">
                                    <div class="Absolute-Center is-Responsive">
                                    
                                        <div class="col-sm-12 col-md-10 col-md-offset-1">
                                            <form  id="loginForm" action="{{url_for('profile_picture')}}" method="post" enctype ="multipart/form-data">
                                                <div class="form-group input-group">
                                                    <span style="color:white" class="input-group-addon"><i class="glyphicon glyphicon-lock">select image</i></span>
                                                    <input style="width:100%; border-radius: 0px;padding-left:12px;background-color:white" class="form-control" type="file" cols="80" name="file"  required/>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-def btn-block">Submit</button>
                                                </div>
                                            
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

        </div>

        <div id="modal3" class="modal" style="background-color:red; height:7%;top: 9%;position: absolute;">

   
            <div id="state" style="padding-top: 1px;background-image:background-color:;text-align:center; width:100%; height:100%">
              
              <div id="stt" style="padding-top: 5px;width:60%; height:100%; background-color:; text-align:center;margin:auto">
                
                <div class="container" style="background-color:red">
                  <div class="row">
                    <div class="Absolute-Center is-Responsive">
                      <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <form  id="loginForm" action="{{url_for('blog')}}" method="post" enctype ="multipart/form-data">
                          <div class="form-group input-group">
                            <span style="color:white" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input style="border-radius: 10px;padding-left:12px;background-color:white" class="form-control" type="text" name="title" placeholder="title" value="" />
                          </div>
                          <div class="form-group input-group">
                            <span style="color:white" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input style="border-radius: 10px;padding-left:12px;background-color:white" class="form-control" type="text" name="author" placeholder="Author" value="{{user['firstname']}}" required />
                          </div>
                          
                          <div class="form-group input-group">
                            <span style="color:white" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input style="border-radius: 10px;padding-left:12px;background-color:white" class="form-control" type="email" name="email" placeholder="email" value="{{email}}"   required />
                          </div>
                          <div class="form-group input-group">
                            <span style="color:white" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <textarea style="width:30%; border-radius: 10px;padding-left:12px;background-color:white" class="form-control" type="text" cols="80" name="description" placeholder="Description"  required /></textarea>
                          </div>
                          <div class="form-group input-group">
                            <span style="color:white" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input style="width:30%; border-radius: 0px;padding-left:12px;background-color:white" class="form-control" type="file" cols="80" name="file"  />
                          </div>
                          <div class="form-group input-group">
                            <span style="color:white" class="input-group-addon"><i class="glyphicon glyphicon-lock">video</i></span>
                            <input style="width:30%; border-radius: 0px;padding-left:12px;background-color:white" class="form-control" type="file" cols="80" name="video"  />
                          </div>
                          </div>
                          
                          <div class="form-group">
                            <button type="submit" class="btn btn-def btn-block">Submit</button>
                          </div>
                        
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
             
        </div>	

        <div id="modal4" class="modal" style="background-color:red; height:7%">

   
            <div id="state" style="padding-top: 1px;background-image:background-color:;text-align:center; width:100%; height:100%">
              
              <div id="stt" style="padding-top: 5px;width:60%; height:100%; background-color:; text-align:center;margin:auto">
                
                <div class="container" style="background-color:red">

                  <div class="row">

                    <div class="Absolute-Center is-Responsive">
                      <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <form  id="loginForm" action="{{url_for('clipvideo')}}" method="post" enctype ="multipart/form-data">
                      
                          <div class="form-group input-group">
                            <span style="color:white" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input style="width:30%; border-radius: 0px;padding-left:12px;background-color:white" class="form-control" type="file" cols="80" name="file"  />
                          </div>
                          
                          <div class="form-group">
                            <button type="submit" class="btn btn-def btn-block">Submit</button>
                          </div>
                        
                        </form>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>

        <!--  main wrapper start -->
        <div id="wrapper" data-key-id="{{user['_id']}}" data-key-email="{{user['email']}}" data-key-first-name="{{user['firstname']}}"  data-key-last-name="{{user['lastname']}}">
            <div class="topnav" style="background-color:black;padding: 12px;height: 50px;">

            </div>
            <!-- first te in  main wrapper -->
            <div id="inwork" class="inwork" style="margin-top:9px;width:100%; height:20%;background-color:;position:relative;text-align:center">
                <div id="te">
                    <ul style="text-align:center;">
                        <li><img class=" responsive-img" style="border-radius:0%;width: 10%;height: 10%;" src="/static/uploads/reg/boys.jpg"  alt="" ></li>
                        <li><img class=" responsive-img" style="border-radius:0%;width: 10%;height: 10%;" src="/static/uploads/reg/boys.jpg"  alt=""></li>
                        <li><img class=" responsive-img" style="border-radius:0%;width: 10%;height: 10%;" src="/static/uploads/reg/obama.jpg" alt=""></li>
                        <li><img class=" responsive-img" style="border-radius:0%;width: 10%;height: 10%;" src="/static/uploads/reg/boys.jpg"  alt=""></li>
                        <li><img class=" responsive-img" style="border-radius:0%;width: 10%;height: 10%;" src="/static/uploads/reg/obama.jpg" alt=""></li>
                        <li><img class=" responsive-img" style="border-radius:0%;width: 10%;height: 10%;" src="/static/uploads/reg/boys.jpg"  alt=""></li>
                    </ul>
                </div>
            </div>
                    <div id="notifications" style="width:100%; height:20%;background-color:#ffffff">
                        <div id="te" style="background-color:#ffffff; padding-top:0px;position:relative">
                            <ul>
                                <li><a class="waves-effect waves-light btn black" style="width:100px;color:white; text-decoration:none;background-color:" href="">Paybits</a></li>

                                <li id="addphote"><a class="modal-trigger" id="pasue" style="text-transform: lowercase;color:black; text-decoration:none;font-weight: bold;" href="#modal2"><i class=" small material-icons ">add_a_photo</i></a></li>

                                <li id="logout" ><a class="waves-effect waves-light btn red" style="text-transform: lowercase;color:white; text-decoration:none;background-color:red" href="/logout"><i class="material-icons"></i>logout</i></a></li>

                            </ul>
                          </div>
                    </div>



                    <!-- header starts -->
            <div  id="header" data-login="{{email}}" data-login-id="{{_id}}" style="background-position: 100px 5px;  background-size: 150px;text-align:center;    z-index: auto; background-color:white !important;background-image: url({{url_for('static', filename='images/.jpg')}});background-repeat:no-repeat;background-size:cover;background-position:center;" class="carousel-item red white-text" href="#one!">

                <div id="imagess">

                 {% if  user['image'] == "1" %}
                    <img src="static/uploads/{{user['img']}}" alt="" class="responsive-img" style="    border-radius: 20%;">

                 {% else %}
                    <img src="{{user['img']}}" alt="" class="responsive-img" style="    border-radius: 20%;">
                {% endif %}
                 <div id="te" style="background-color:#ffffff; padding-top: 0px;marggin:0px;position:relative">
            	    <ul>
            			<li><a class="waves-effect waves-light btn #bd2da8" style="text-transform: lowercase;color:; text-decoration:none;background-color:#bd2da8">Ibrahim </a></li>
                    </ul>
  		         </div>
                 </div>

                      <div id="">

                          <div id="" style="margin:auto;width:80%;padding: 7px;">

                                    <input id="phone" style="border: 3px solid #04040414;background:#04040414;font-weight:500; font-size:19px;padding-left:2px;background-color:;color:bl#010001ck;border-radius:6px;width:50%;height:20px;-webkit-transition: width 0.4s ease-in-out;transition: width 0.4s ease-in-out;font-family: Times, Times New Roman, Georgia, serif;" type="text" name="phone" placeholder="enter phone number" required="required">
                                    <input id="amount" style="border: 3px solid #04040414;background:#04040414;font-weight:500; font-size:19px;padding-left:2px;background-color:;color:bl#010001ck;border-radius:6px;width:50%;height:20px;-webkit-transition: width 0.4s ease-in-out;transition: width 0.4s ease-in-out;font-family: Times, Times New Roman, Georgia, serif;" type="text" name="amount" placeholder="enter amount" required="required">
                                    <br />
                                    <button id="Bits"  style="float:center;color:red;text-align:center;font-size:30;font-size:23px;">Bits</button>
                          </div>
                      </div>
                      <!--  div for first and last name-->
                      <a class="modal-trigger" style="text-align:center;width:10%;height:10%;" href="#modal2">
                            <img  class="circl responsive-img" style="" src="/static/uploads/{{image}}" alt="">
                        </a>
                      <!-- first and last name div ends-->
                      <div class="topnav" style="background:#b747b929;display:none">

                        <ul>
                              <li><a style="font-family: Times, Times New Roman, Georgia, serif;width:100px;text-transform: ;color:black; text-decoration:none;font-weight: bold; font-size:20px;background-color:" href="#phote">Makeni</a></li>
                              <li><a style="font-family: Times, Times New Roman, Georgia, serif;width:100px;text-transform: ;color:black; text-decoration:none;font-weight: bold;font-size:20px;background-color:" href="#about">Associate</a></li>
                              <li><a style="font-family: Times, Times New Roman, Georgia, serif;width:100px;text-transform: ;color:black; text-decoration:none;font-weight: bold;font-size:20px;background-color:" href="#phote">4842465707</a></li>
                              <li><a style="font-family: Times, Times New Roman, Georgia, serif;width:100px;text-transform: ;color:black; text-decoration:none;font-weight: bold;font-size:20px;background-color:" href="#about">single</a></li>
                              <li><a style="font-family: Times, Times New Roman, Georgia, serif;width:100px;text-transform: ;color:black; text-decoration:none;font-weight: bold;font-size:20px;background-color:" href="#friends">10191992</a></li>
                                      
                        </ul>
                      </div>
                       <!-- images -->
                      <div id="te" style="background-color:#ffffff;top: 15px; padding-top:0px;position:relative">
                        <ul>
                            <li style="margin:13px" id="sendmessages"><a class="" style="text-transform: lowercase;color:black; text-decoration:none;background-color:" href="#modal1"><i class="material-icons">cloud_upload</i></a></li>
                            <li style="margin:13px;"id="sendmessages"><a class="" style="text-transform: lowercase;color:black; text-decoration:none;background-color:" href="/create_message"><i class="material-icons">create</i></a></li>
                            <li style="margin:13px;" id="messages"><a class="" style="text-transform: lowercase;color:black; text-decoration:none;background-color:" href="/message"><i class="material-icons" >message</i>{{messageRe}}</a></li>
                            <li style="margin:13px;" id="friends_accepted"><a class="" style="text-transform: lowercase;color:black; text-decoration:none;background-color:" href="/friends"><i class="material-icons">person_pin</i>{{friends}}</a></li>
                            <li style="margin:13px;" id="friendRequest"><a class="" style="text-transform: lowercase;color:red; text-decoration:none;background-color:" href="/request"><i class="material-icons">feedback</i>{{requests}}</a></li>
                        </ul>
                      </div>
                       <!-- images -->
                      <div id="note" parent-data-key-parent="united states of america" style="width:100%;height:30%;background:white">

                        <div id="alertDisplay" style="text-align:center;color:black; width:100%;height:auto;background-color:white">
                          {% for i  in saysomething %}
                          <div  style="margin: 1px; background:white">
                              <p id="saysomethingi" style="text-align:left;background-color:white" id="{{i['login_email']+"paragraph"}}">
                              {{i['text']}}
                              </p>
                                <div id="te" style="background-color:#ffffff; padding-top: 0px;">
                                                <ul>  
                                                
                                                            <li class="requests waves-effect waves-light " href="#modal1" style="color:black; background-color:"><a style="color:black; text-decoration:none; text-transform: lowercase;"><i class="tiny material-icons">list</i></a></li><a style="color:black; text-decoration:none; text-transform: lowercase;">
                                                            </a><li class="requests waves-effect waves-light "><a style="color:black; text-decoration:none; text-transform: lowercase;"></a><a style="color:black; text-decoration:none; text-transform: lowercase;"> <i class="tiny material-icons">comment</i><span style=""></span></a></li>
                                                            <li class="requests waves-effect waves-light "><a style="color:black; text-decoration:none; text-transform: lowercase;"><i class="tiny material-icons">thumb_up</i><span style="font-size:18px ">0</span></a></li>
                                                            <li class="requests waves-effect waves-light "><a style="color:black; text-decoration:none; text-transform: lowercase;"><i class="tiny material-icons">thumb_down</i><span style="font-size:18px ">0</span></a></li>
                                                            <li class="requests waves-effect waves-light "><a style="color:black; text-decoration:none; text-transform: lowercase;"></a></li>
                                              
                                                </ul>
                                  </div>
                              
                          </div>
                        {% endfor %}
                    </div>
                      </div>

                      <!-- images -->
                      <div id="" style="text-align:center;padding-top:3px; width:100%;background-color:white">
                          <h1 style="border-radius: 25px;color:#907f27;font-size:calc(calc(2vw + 1vh) + 0px); font-weight: 700;"></h1>
                      </div>


                      </div>
                
                      <!-- images -->
                      <div id="images">
                          <div id="newimg_upload" style="margin-top: 12px;width:100%; height:20%;padding-right: 12px;background-color:white;position:relative">
                                          <div id="te" style="height:40%;background-color:white; padding-top: 0px;">
                                            <ul style="margin: 0px;text-align:left;">
                                            {% for upload in uploads %}
                                                <li style="margin: 0px;">
                                                   <p style="background-color:white">{{upload['text']}}</p>
                                                   <div id="pictwo" style="width:100%;background-color:white">
                                                      <ul>
                                                       
                                                        <li style="margin:70px;">
                                                          <img id="myImg" style="width:100%;padding-left:1px;padding-right:1px" src="/static/myboo/{{upload['img']}}" alt="" class=" responsive-img">
                                                        </li>
                                                        <li style="margin:70px;">
                                                          <img id="myImg" style="width:100%;padding-left:1px;padding-right:1px" src="/static/myboo/{{upload['img']}}" alt="" class=" responsive-img">
                                                        </li>
                                                      </ul>
                                                   </div>
                                                   <div id="te" style="background-color:#ffffff; padding-top: 4px;">
                                                        <ul>  
                                            
                                                            <li class="requests waves-effect waves-light " href="#modal1" style="color:black; background-color:"><a style="color:black; text-decoration:none; text-transform: lowercase;"><i class="small material-icons">list</i></li>
                                                            <li class="requests waves-effect waves-light "><a style="color:black; text-decoration:none; text-transform: lowercase;"> <i class="tiny material-icons">comment</i><span style="font-size:18px"></span></a></li>
                                                            <li class="requests waves-effect waves-light "><a style="color:black; text-decoration:none; text-transform: lowercase;"><i class="tiny material-icons">thumb_up</i><span style=" font-size:18px">{{upload['likes']}}</span></a></li>
                                                            <li class="requests waves-effect waves-light "><a style="color:black; text-decoration:none; text-transform: lowercase;"><i class="tiny material-icons">thumb_down</i><span style=" font-size:18px">{{upload['dislikes']}}</span></a></li>
                                                            <li class="requests waves-effect waves-light "><a style="color:black; text-decoration:none; text-transform: lowercase;"></a></li>
                                          
                                                        </ul>
                                                    </div>
                                                </li>
                                            {% endfor %}    
                                            </ul>
                                          </div>
                          </div>
                          
                          <div id="te" class="" style="display: inline-flex;background-color:white;padding-top: 4px;margin:auto">
                            {% block pictures %}
                                {% for picture in pictures %}
                                  <ul>  
                                        <li><img  style="width: 50%;height: 90%;" src="/static/uploads/{{picture['img']}}" alt=""class=" responsive-img"></li>                
                                  </ul>   
                                {% endfor %}
                            {% endblock %}        
                          </div>
                      </div>
                
                      <!-- content items start -->
                      <div id="contents_items" style=" background-size: 150px;padding-top: 1px; background-color:#fcfbfb;text-align:center; width:100%; height:35%">
                            {% block content %}
                            {% for posts in blogs %}
                            <!--  contents starts -->
                            <div id="contents" data-key-author="{{posts['author']}}" data-key-name="{{posts['title']}}" data-key-email="{{posts['email']}}" data-key-id="{{posts['_id']}}"style="float:left;width:100%; height:100%; background-color:#ffffff; text-align:center;margin:auto; position:relative">	
                                        <div id="div_video_and_picture" style="width:100%">
                                            
                                            <div id="picvide" >
                                                <img id="myImg" src="static/uploads/{{posts['img']}}" alt="Snow" class=" responsive-img" >
                                            </div>
                                            <div id="tvshow">
                                                <iframe id="youtub" width="100%" height="315" src="https://www.youtube.com/embed/xD6ACe2sUJM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        
                                        <div id="myModal" class="modals">
                                              
                                              <!-- notice the "circle" class -->
                                              <div id="myModal" class="modalmg">

                                                    <!-- The Close Button -->
                                                    <span class="close">&times;</span>

                                                    <!-- Modal Content (The Image) -->
                                                    <img class="modal-content" id="img01">

                                                    <!-- Modal Caption (Image Text) -->
                                                    <div id="caption"></div>
                                              </div>
                                        </div>
                                        
                                        <div id="details" style="border-raduis: 15px;width:;padding-top: 15px;background:#ffffff;margin:12px;height: 60px;">
                                            <h2  style="color:black;float:left; font-size:1vw;font-style: normal; font-weight:700;  margin:auto; text-align:center;"><i class="material-icons">person</i><span id="ut">{{posts['author']}}</span></h2>
                                            <h2  style="color:black;float:right; font-size:1vw;font-style: normal; font-weight:700;  margin:auto; text-align:center;"><i class="material-icons">title</i><span id="ut">{{posts['title']}}</span></h2>
                                        </div>
                                        
                                        <div class="">

                                            <P style="color:black; background-color:white">hello   ___{{posts['description']}}</P>
                                          
                                                
                                            
                                            <div id="title" data="{{posts['title']}}" style="width:100%;margin:center; height:5%;background-color:#ffffff">
                                                <ul id="post-key-post-email" data-key-post-name="{{posts['title']}}" data-key-post-email="{{posts['email']}}" data-key-post-id="{{posts['_id']}}">
                                                    <li data-key-author="{{posts['author']}}" data-key-name="{{posts['title']}}" data-key-email="{{posts['email']}}" data-key-id="{{posts['_id']}}" id="createRequests" data-key-receiver="{{posts['_id']}}" data-key-post="{{posts['_id']}}" class="requests waves-effect waves-light " href="#modal1" style="color:black; background-color:"><a style="color:black; text-decoration:none; text-transform: lowercase;"><i class=" small material-icons">list</i></li>
                                                    <li data-key-author="{{posts['author']}}" data-key-name="{{posts['title']}}" data-key-email="{{posts['email']}}" data-key-id="{{posts['_id']}}" id="createRequests" data-key-receiver="{{posts['_id']}}" data-key-post="{{posts['_id']}}" class="requests waves-effect waves-light " href="#modal1" style="color:black; background-color:"><a style="color:black; text-decoration:none; text-transform: lowercase;"><i class="delete small material-icons">delete</i></li>
                                                    <li data-key-author="{{posts['author']}}" data-key-name="{{posts['title']}}" data-key-email="{{posts['email']}}" data-key-id="{{posts['_id']}}" id="createRequests" data-key-receiver="{{posts['_id']}}" data-key-post="{{posts['_id']}}" class="requests waves-effect waves-light " href="#modal1" style="color:black; background-color:"><a style="color:black; text-decoration:none; text-transform: lowercase;"><i class=" tiny material-icons">mode_comment</i></li>
                                                    <li data-key-author="{{posts['author']}}" data-key-name="{{posts['title']}}" data-key-email="{{posts['email']}}" data-key-id="{{posts['_id']}}" id="requests" data-key-receiver="{{posts['_id']}}" data-key-post="{{posts['_id']}}" class="requests waves-effect waves-light " style="color:black; background-color:"><a style="color:black; text-decoration:none;text-transform: lowercase;"><i class="tiny material-icons">import_export</i></li>
                                                    <li data-key-author="{{posts['author']}}" data-key-name="{{posts['title']}}" data-key-email="{{posts['email']}}" data-key-id="{{posts['_id']}}" id="comments" data-key-commenter="" data-key-post="{{posts['_id']}}" class="waves-effect waves-light   modal-trigger" href="#modal1" style="color:black; background-color:"><a style="color:black; text-decoration:none;text-transform: lowercase;"><i class="tiny material-icons">comment</i><span id="{{posts['title']+"_blogcomment"}}"> {{posts['numberOfcomments']}}</span></a></li>
                                                    <li data-key-author="{{posts['author']}}" data-key-name="{{posts['title']}}" data-key-email="{{posts['email']}}" data-key-id="{{posts['_id']}}" id="likes" data-key-likes="" data-key-post="{{posts['_id']}}" class="waves-effect waves-light" style="color:black; background-color:"><a id="num" style="color:black; text-decoration:none;  text-transform: lowercase;"><i class="tiny material-icons">thumb_up</i><span style="font-size:18px" id="splikes">  {{posts['likes']}}</span></li>
                                                    <li data-key-author="{{posts['author']}}" data-key-name="{{posts['title']}}" data-key-email="{{posts['email']}}" data-key-id="{{posts['_id']}}" id="dislikes" data-key-dilikes="" data-key-post="{{posts['_id']}}" class="waves-effect waves-light" style="color:black; background-color:"><a id="num" style="color:black; text-decoration:none; text-transform: lowercase;"><i class="tiny material-icons">thumb_down</i><span style="font-size:18px" id="spdislikes">{{posts['dislikes']}}</span></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="holder" holder-data-key-title="{{posts['title']}}"  style="color:black;:white; width:100%;text-decoration:none; text-align:left; background-color:; height:auto"></div>
                                        
                                        <div parent-data-key-parent="{{posts['title']}}" style="background-color:white" >
                                              <input class="_input" id="{{posts['title']}}" style="border: 1px solid lightgray; font-size:19px;padding-left:2px;background-color:#f1f4f7;color:black;border-radius:7px;width:90%;-webkit-transition: width 0.4s ease-in-out;transition: width 0.4s ease-in-out;" type="text" name="post" placeholder="leave a comment" required>
                                              <span id="send" style="color:black;font-size:20px; background-color:white;" data-key-author="{{posts['author']}}" data-key-name="{{posts['title']}}" data-key-email="{{posts['email']}}" data-key-id="{{posts['_id']}}"id="comments" data-key-commenter=""  data-key-post="{{posts['_id']}}" class="send" >send</span>
                                            
                                        </div>
                          
                              </div>  
                              <!-- contents   ends -->
                            
                            {% endfor %}
                            {% endblock %}
                      </div>
                       <!-- content items ends  -->
                        <footer class="page-footer" style="height:30%;position:relative;clear:both;background-color:#1c1216;">
                              <div class="container">
                                <div class="row">
                                  <div class="col l6 s12">
                                    <h5 class="white-text">Mission Statement</h5>
                                    <span style="background:;color:white">Connect with love</span>
                                  </div>
                                  <div class="col l4 offset-l2 s12">
                                    <ul>
                                      <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                                      <li><a class="grey-text text-lighten-3" href="#!"></a></li>

                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="footer-copyright">
                                <div class="container">
                                © 2019 Copyright PayBits inc.
                                </div>
                              </div>
                    </footer>
                        <!--  footer ends-->
            </div>

        <script>
                window.addEventListener(`DOMContentLoaded` ,Controller.initialize);
                window.addEventListener(`DOMContentLoaded`, Objects.object_initialize);
                window.addEventListener(`DOMContentLoaded` ,c.initialize);
        </script>
</body>
</html>
